<img src="/images/jack.jpg" class="livefeedbg img-fluid" alt="Responsive images">
<div class=container>
<br>
<br>
<br>



<h1 class="text-white">Welcome to NYCe LIFe....</h1>
<h2 class="text-white">A Blog where locals post about their nice time or the spot to be at. </h2>

</div>