<article class="content text-light">
<% if session[:user_id] %>
  <h3>Create a Post</h3>

  <form action="/livefeed" method="post">
    <input type="text" name="title" id="title" placeholder="What are you doing?">
    <input type="text" name="subject" id="subject" placeholder="Location">
    <br>
    <input type="text" name="content" id="content" placeholder="What's going on?">
    <input type="submit" value="Post">
  </form>
<% else %>
  <h1>Please LOGIN to make a post...</h1>
    <a href="/signin"><button class="log in">LOG IN</button></a>
<% end %>
<br>
<h1>Most Recent Posts</h1>
    <div class="row justify-content-center">

<% @posts.reverse.first(20).each do |post| %>
  <%# <div class="container container-fluid"> %>




<div class="jumbotron jumbotron-fluid col-10 text-white">
    <h1 class="display-4">Activity: <%= post.title %> </h4> </h1>
    <p class="lead">Location: <p><%= post.subject %></p> 
        <p class="lead">Post: <p><%= post.content %></p> 
</p>
  </div>
    <% end %>
</div>
<%# </div>   %>
