<img src="/images/nycpier.jpg" class="livefeedbg img-fluid" alt="Responsive images">


<article class="content text-light">
<% if session[:user_id] %>
  <h3>Create a Post</h3>

  <form action="/livefeed" method="post">
  
    <input type="text" name="title" id="title" placeholder="What are you doing?">
      <input type="text" name="subject" id="subject" placeholder="Location">
    <br>
      <input type="text" name="content" id="content" placeholder="How do you feel?">
    <input type="submit" value="Post">
  </form>
<% else %>
  <h1>Only Users that are logged in can post...</h1>
    <a href="/signin"><button class="log in">LOG IN</button></a>
<% end %>
  <br>
    <h1>Most Recent Posts..</h1>
      <div class="row justify-content-center">
    <% @posts.reverse.first(20).each do |post| %>


<div class="jumbotron jumbotron-fluid col-7 text-white">
    <h2 class="display-4"><p>Having Fun.. <%= post.title %> </h2>
        <h3 class="lead"> <p>I'm by <%= post.subject %></h3> 
</p> 
    <h3 class="lead">Mood is<p><%= post.content %></h3> 
    <p> User: <%= @user.username %> </p>
    
    </div>
    
  <% end %>
  
</div>

<%# </div>   %>
