<br>
<h1 class="text-light">Sign In</h1>
<br>

        
  <div class="container">

  <form action="/signin" method="post">
  <input type="text" name="username" id="username" placeholder="Username"><br><br>
  <input type="password" name="password" id="password" placeholder="Password"><br> <br>
  <input type="submit" value="Sign In">
    </form>
    </div>