<h1 class="text-light">Sign Up</h1>

      <div class="container">

<article class="content">

  <form class="form-inline" action="/signup" method="post">
    <input type="text" name="username" id="username" placeholder="Username">
    <input type="text" name="first_name" id="first_name" placeholder="First Name">
    <input type="text" name="last_name" id="last_name" placeholder="Last Name">
    <input type="password" name="password" id="password" placeholder="Password">
    <input type="email" name="email" id="email" placeholder="Email">
    <input type="date" name="birthday" id="birthday" placeholder="Birthday">
    <input type="submit" value="Sign Up">
  </form>
</article>
  </div>

