  <img src="/images/jack.jpg" class="livefeedbg img-fluid" alt="Responsive images">

<ul class="heading text-white"><h1>Welcome to NYCe LIFe BLog</h1>

<h2>Please sign into your account to look at your profile page..</h2>
</ul>
